@charset "UTF-8";

@font-face {
  font-family: "HelveticaNeueCyr-Black";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Black.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Black.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr-BlackItalic";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-BlackItalic.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-BlackItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr-Bold";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr-BoldItalic";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-BoldItalic.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-BoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr-Italic";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Italic.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr-Light";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Light.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr-LightItalic";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-LightItalic.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-LightItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr-Medium";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr-Roman";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr-Thin";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Thin.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Thin.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr-ThinItalic";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-ThinItalic.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-ThinItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr-UltraLight";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-UltraLight.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-UltraLight.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr-UltraLightItalic";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-UltraLightItalic.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-UltraLightItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NimbusSansNovusT_Bold";
  font-display: swap;
  src: url("../fonts/NimbusSansNovusT_Bold.woff2") format("woff2"), url("../fonts/NimbusSansNovusT_Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
}

body {
  overflow-x: hidden;
  font-size: 100%;
  line-height: 1;
  font-size: 1.4rem;
  font-family: "Arial";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: "Arial";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
}

.container {
  max-width: 75vw;
  margin: 0 auto;
  width: 100%;
}

/*ОСНОВНОЙ КОД*/

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.header {
  background-image: url("../img/main-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  padding-bottom: 18.4375vw;
}

.header__body {
  padding-top: 1.32813vw;
}

.header__top {
  margin-bottom: 3.67188vw;
  padding-top: 12.57813vw;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  background-position: center;
  position: relative;
}

.header__logo_mob {
  display: none;
}

.header__logo {
  position: absolute;
  top: 0;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.header__nav {
  position: relative;
  z-index: 2;
  -webkit-clip-path: ellipse(57% 100% at 50% 99%);
          clip-path: ellipse(57% 100% at 50% 99%);
}

.header__ul {
  display: flex;
  justify-content: center;
}

.header__ul-item a {
  font-family: 'NimbusSansNovusT_Bold';
  color: white;
  display: inline-block;
  font-size: 1.48438vw;
  padding: 2.03125vw 1.17188vw;
  border-bottom-left-radius: 0.39063vw;
  border-bottom-right-radius: 0.39063vw;
  text-transform: uppercase;
  transition: 0.3s ease;
}

.header__ul-item a:hover {
  background-color: #e46107;
}

.header__offer {
  font-family: 'HelveticaNeueCyr-Black';
  font-size: 5.3125vw;
  line-height: 4.6875vw;
  text-align: center;
  text-shadow: 0 0 0.46875vw rgba(31, 88, 0, 0.75);
  margin-bottom: 1.95313vw;
}

.header__box {
  background-color: rgba(38, 49, 28, 0.7);
  text-align: center;
  border-radius: 0.39063vw;
  padding: 2.26563vw 3.59375vw 2.73438vw 3.4375vw;
}

.header__box-offer {
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 2.65625vw;
  line-height: 3.125vw;
  margin-bottom: 1.5625vw;
}

.header__text {
  font-size: 1.09375vw;
  line-height: 1.95313vw;
}

.items {
  background-color: #26311c;
  border-top: 0.3125vw solid #e46107;
  color: #f1f2f5;
}

.items a {
  color: #f1f2f5;
}

.items__body {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 1.5625vw;
  margin: 0 -2.34375vw;
  margin-top: -9.375vw;
}

.items__item {
  text-align: center;
  margin: 0 2.34375vw 2.42188vw 2.34375vw;
}

.items__img {
  border: 0.54688vw solid white;
  border-radius: 100%;
  width: 16.17188vw;
  height: 16.17188vw;
  margin-bottom: 2.57813vw;
}

.items__offer {
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 2.65625vw;
  line-height: 3.125vw;
  margin-bottom: 1.40625vw;
}

.items__btn a {
  text-transform: uppercase;
  display: inline-block;
  font-family: 'NimbusSansNovusT_Bold';
  font-size: 1.48438vw;
  padding: 1.64063vw 3.35938vw 1.64063vw 3.59375vw;
  border-radius: 0.39063vw;
  border: solid 0.15625vw #a1ad97;
  transition: 0.2s ease;
}

.items__btn a:hover {
  color: #8dc705;
  border-color: #8dc705;
}

.benefits {
  background-image: url("../img/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.benefits__body {
  padding: 7.42188vw 0;
}

.benefits__offer {
  margin-bottom: 1.5625vw;
  font-family: 'HelveticaNeueCyr-Light';
  font-size: 2.65625vw;
  line-height: 4.14063vw;
}

.benefits__offer span {
  font-family: 'HelveticaNeueCyr-Bold';
  color: #48890a;
  font-size: 4.21875vw;
  line-height: 4.14063vw;
}

.benefits__text {
  font-size: 1.09375vw;
  line-height: 1.95313vw;
  margin-bottom: 1.95313vw;
  max-width: 33.75vw;
}

.benefits__btn a {
  text-transform: uppercase;
  display: inline-block;
  font-family: 'NimbusSansNovusT_Bold';
  font-size: 1.48438vw;
  padding: 1.64063vw 3.35938vw 1.64063vw 3.59375vw;
  border-radius: 0.39063vw;
  border: solid 0.15625vw #48890a;
  color: #48890a;
  transition: 0.2s ease;
}

.benefits__btn a:hover {
  color: white;
  background-color: #48890a;
}

.nav {
  border-top: 0.3125vw solid #7da83c;
}

.nav__items {
  display: flex;
  justify-content: center;
  padding: 2.03125vw 0 1.48438vw 0;
}

.nav__item a {
  color: #7b7b7b;
  font-size: 1.48438vw;
  font-family: 'NimbusSansNovusT_Bold';
  text-transform: uppercase;
  transition: 0.3s ease;
  display: inline-block;
  margin: 0 1.5625vw 0.54688vw 1.5625vw;
}

.nav__item a:hover {
  color: #8dc705;
}

.footer {
  background-color: #e4e4e4;
}

.footer__body {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2.10938vw 0 2.03125vw 0;
}

.footer__item {
  color: #919191;
  font-size: 0.9375vw;
}

/*/ОСНОВНОЙ КОД*/

.burger {
  cursor: pointer;
  display: none;
  width: 26px;
  position: relative;
  z-index: 105;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

.burger i {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 3px;
  background: white;
  transition: all .2s ease-out;
}

.burger i::before {
  content: '';
  width: 26px;
  height: 3px;
  background: white;
  position: absolute;
  left: 0;
  transition: all .2s ease-out;
  top: -9px;
}

.burger i::after {
  content: '';
  width: 26px;
  height: 3px;
  background: white;
  position: absolute;
  left: 0;
  transition: all .2s ease-out;
  bottom: -9px;
}

.burger.active i {
  background: transparent;
}

.burger.active i::before {
  background-color: black;
  top: 0;
  transform: rotateZ(45deg);
}

.burger.active i::after {
  background-color: black;
  bottom: 0;
  transform: rotateZ(-45deg);
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ibg img {
  display: none;
}

@media (max-width: 992px) {
  .container {
    max-width: none;
    padding: 0 20px;
  }

  .header {
    padding-bottom: 23.6rem;
  }

  .header__body {
    padding-top: 1.7rem;
  }

  .header__top {
    margin-bottom: 10.7rem;
    padding-top: 16.1rem;
    padding-top: 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: static;
  }

  .header__logo_mob {
    display: block;
    width: 16rem;
  }

  .header__logo {
    display: none;
  }

  .header__nav {
    -webkit-clip-path: none;
            clip-path: none;
  }

  .header__ul {
    justify-content: flex-start;
  }

  .header__ul-item a {
    font-size: 2.1rem;
    padding: 2.6rem 1.5rem;
    border-radius: 0.5rem;
    text-shadow: 0 0 0.46875vw rgba(31, 88, 0, 0.75);
  }

  .header__offer {
    font-size: 6.8rem;
    line-height: 6rem;
    margin-bottom: 2.5rem;
  }

  .header__box {
    padding: 2.9rem 4.6rem 3.5rem 4.4rem;
    border-radius: 0.5rem;
  }

  .header__box-offer {
    font-size: 3.4rem;
    line-height: 4rem;
    margin-bottom: 2rem;
  }

  .header__text {
    font-size: 1.4rem;
    line-height: 2.5rem;
  }

  .items {
    border-top: 0.4rem solid #e46107;
  }

  .items__body {
    padding-bottom: 2rem;
    margin: 0;
    margin-top: -12rem;
  }

  .items__item {
    margin: 0 3rem 3.1rem 3rem;
  }

  .items__img {
    border: 0.7rem solid white;
    width: 20.7rem;
    height: 20.7rem;
    margin-bottom: 3.3rem;
  }

  .items__offer {
    font-size: 3.4rem;
    line-height: 4rem;
    margin-bottom: 1.8rem;
  }

  .items__btn a {
    font-size: 1.9rem;
    padding: 2.1rem 4.3rem 2.1rem 4.6rem;
    border-radius: 0.5rem;
    border: solid 0.2rem #a1ad97;
  }

  .benefits__body {
    padding: 9.5rem 0;
  }

  .benefits__offer {
    margin-bottom: 2rem;
    font-size: 3.4rem;
    line-height: 5.3rem;
  }

  .benefits__offer span {
    font-size: 5.4rem;
    line-height: 5.3rem;
  }

  .benefits__text {
    font-size: 1.4rem;
    line-height: 2.5rem;
    margin-bottom: 2.5rem;
    max-width: 43.2rem;
  }

  .benefits__btn a {
    font-size: 1.9rem;
    padding: 2.1rem 4.3rem 2.1rem 4.6rem;
    border-radius: 0.5rem;
    border: solid 0.2rem #48890a;
  }

  .nav {
    border-top: 0.4rem solid #7da83c;
  }

  .nav__items {
    flex-wrap: wrap;
    padding: 2.6rem 0 1.9rem 0;
  }

  .nav__item a {
    font-size: 1.9rem;
    margin: 0 2rem 0.7rem 2rem;
  }

  .nav__item a {
    font-size: 1.9rem;
    margin: 0 1rem 0.7rem 1rem;
  }

  .footer__body {
    padding: 2.7rem 0 2.6rem 0;
  }

  .footer__item {
    font-size: 1.2rem;
  }
}

@media (max-width: 767px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }

  .container {
    max-width: none;
    padding: 0 15px;
  }

  html {
    font-size: 58%;
  }

  .header__nav {
    -webkit-clip-path: none;
            clip-path: none;
    position: absolute;
    right: -75rem;
    transition: 0.5s ease;
    width: 100%;
    height: 100%;
    top: 0;
  }

  .header__nav.active {
    right: 0;
  }

  .header__ul {
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: black;
    width: 90%;
    position: absolute;
    right: 0rem;
    height: 100vh;
    padding-top: 8rem;
  }

  .header__ul-item a {
    font-size: 3.1rem;
    padding: 2.6rem 1.5rem;
    border-radius: 0.5rem;
    text-shadow: none;
    color: black;
  }

  .header__offer {
    font-size: 5.6rem;
    line-height: 4.8rem;
  }

  .benefits__body {
    padding: 5.5rem 0;
  }

  .burger {
    display: block;
  }
}

@media (max-width: 575px) {
  html {
    font-size: 48.5%;
  }

  .header {
    padding-bottom: 18.6rem;
  }

  .header__box {
    padding: 1.9rem 3.6rem 2.5rem 3.4rem;
  }
}